@import url('https://fonts.cdnfonts.com/css/vocal');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vocal', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

h1,
h2 {

    text-shadow: 2px 2px black;
}

h3 {
    padding: 0.5rem 1rem 0rem;
}

p {
    padding: 1rem;
}

li.active {
    background-color: #49505f;
}

img {
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #383E4C;
    padding: 1rem;
    text-align: center;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline-block;
    font-size: 2rem;
    border: #646D7C solid 1px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 80vh;
    background-attachment: fixed;
    background-position-x: center;
    background-image: url('/Images/Layout01Assets/img11.jpg');
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
}

.cards-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card {
    background-color: #f2f2f2;
    width: 30%;
    text-align: left;
}

.button-green {
    background-color: #178a27;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-blue {
    background-color: #1686c1;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-red {
    background-color: #852406;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.two-column-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.column {
    background-color: #f2f2f2;
    width: 45%;
}

.read-more {
    background-color: white;
    color: #646D7C;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    justify-content: flex-end;
    margin: 1rem 5rem 1rem auto;
}

.services-section {
    height: 40vh;
    background-position-x: center;
    background-image: url(/Images/Layout01Assets/img13.jpg);
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    text-align: center;
}

.services-section p {
    max-width: 1280px;
}

.service-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.service-card {
    background-color: #f2f2f2;
    width: 22%;
    text-align: left;
}

.button-read, .button-details {
    background-color: white;
    color: #646D7C;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: block;
    margin: 1rem auto 1rem auto;
}

.large-content {
    width: 98%;
    margin: auto;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
}

.bcolor {
    background-color: #f2f2f2;
    padding-bottom: 1rem;
}

.bcolor button {
    display: block;
    margin: 1rem 5rem 1rem auto;
    padding: 0.5rem 1rem;
}

.contact-section {
    height: 80vh;
    background-position-x: center;
    background-image: url('/Images/Layout01Assets/img14.jpg');
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
}

.contact {
    max-width: 45%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

.input {
    display: flex;
    flex-flow: column wrap;
}

input {
    width: 20vw;
    margin: 0.5rem;
    background-color: rgb(199, 209, 215, 0.5);
    border: none;
    border-radius: 0.25rem;;
    padding: 0.5rem;
}

 textarea {
    height: 90%;
    width: 20vw;
    margin: auto;
    background-color: rgb(199, 209, 215, 0.5);
    border: none;
    border-radius: 0.25rem;
} 


.contact-section button {
    display: block;
    margin: 0 45% 1rem auto;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.contact-section p {
    max-width: 41%;
    display: flex;
    margin: 0;
    margin-top: 1rem;
    background-color: rgb(199, 209, 215, 0.5);
    color: black;
    border-radius: 0.25rem;
}

footer {
    background-color: white;
    color: #646D7C;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

[class^=button] {
    display: block;
    margin: 1rem auto 1rem auto;
}

@media screen and (max-width: 1024px) {
    .service-card,
    .card,
    .contact {
        width: calc(97% / 2);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .card:last-child {
        flex-grow: 1;
    }
    
}

@media screen and (max-width: 520px) {
    .service-card,
    .card,
    .column,
    .contact {
        width: 98%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}